*{
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.box {
    height: 30rem;
    width: 11rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    gap: 8px;
    border-radius: 20px;
    background-color: #1e322d;
    box-shadow: 10px 10px 5px black;
}

.light-div {
    width: 9rem;
    height: 9rem;
    border: 1px solid black; 
    display: flex;
    align-items: center;
    justify-content: center;  
    border-radius: 10px;
    background-color: #2a425a;
}

.light{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

#red{
    background-color: #ba181b;
    box-shadow: 0px 0px 15px 8px #660708 inset;
}
#yellow{
    background-color: #fdc500;
    box-shadow: 0px 0px 15px 8px #e09f3e inset;    
}
#green{
    background-color: green;
    box-shadow: 0px 0px 15px 8px #52796f inset;    
}
#red.light.active{
    background-color: #d723ef;
    box-shadow: 0px 0px 15px 8px #ef233c;
}
#yellow.light.active{
    background-color: #ffe66d;
    box-shadow: 0px 0px 15px 8px #ffe66d;    
}
#green.light.active{
    background-color: #7ae582;
    box-shadow: 0px 0px 15px 8px #7ae582;    
}
