*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(61, 59, 57);
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    padding: 20px 30px;
    border-radius: 6px;
    background-color: #d7d5d5;
}
#generated-captcha {
    text-decoration: line-through;
    
}